.container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 20px;
}

.item { 
  background-color: red;
  width: 200px;
  height: 200px;
}

.item2 {
    grid-row: span 1 / -1;
}